.bg-blog {
    background: url(../assets/bg-hip-2.jpg) top center no-repeat;
    background-size: cover;
    padding: 80px 0;
    margin-top: 120px;
}

.bg-blog h2 { margin-bottom: 40px; }

.box-blog {
    margin-bottom: 60px;
}

.blog-image {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 30px;
}
    .blog-image img { max-width: 100%; }

.blog-title {
    font-family: 'Vidaloka', sans-serif;
    font-size: 36px;
    color: gray;
    margin-bottom: 20px;
    display: block;
}

.blog-info {
    color: gray;
    font-size: 14px;
    display: inline-block;
    margin-left: 30px;
}

.sidebar { padding: 0 60px; text-align: center; }
.sidebar p { font-size: 17px; line-height: 22px; }
.sidebar img { margin-bottom: 20px; }
.sidebar h2 { font-size: 36px; margin-bottom: 10px; }

.link-back { 
    background: #b0604f; 
    color: #fff; 
    font-weight: 600; 
    display: inline-block;
    padding: 10px 40px;
    transition: all .3s ease-in-out;
}
    .link-back:hover { opacity: .6; color: #fff; }

.button-blog {
    display: inline-block;
    background: #ddbf78;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    transition: all .3s ease-in-out;
}
    .button-blog:hover { color: #fff; opacity: .6 }
    .button-blog img { margin-left: 10px; }

.search { position: relative; }
.search input {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    padding-right: 60px;
    border: 2px solid #ddbf78;
    background: none;
    color: gray;
    text-transform: none !important;
}
.search button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.tags { margin: 30px 0 40px; }
.tags a {
    display: inline-block;
    color: #adb0b7;
    background: #fff;
    padding: 0 10px;
    text-align: center;
    margin: 0 5px 5px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.posts { margin-bottom: 50px; }
.posts a {
    color: #adb0b7;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.newsletter {}
.newsletter input {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    padding-right: 60px;
    border-radius: 15px;
    border: none;
    background: #ececec;
    text-align: center;
    color: gray;
    text-transform: none !important;
}
.newsletter button {
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #adb0b7;
    font-weight: 600;
    font-size: 20px;
}

.newsletter input::-webkit-input-placeholder { color: #999; }
.newsletter input::-moz-placeholder { color: #999; }
.newsletter input:-ms-input-placeholder { color: #999; }
.newsletter input:-moz-placeholder { color: #999; }