.bg-beach {
    background: url('../assets/bg-beach.jpg') center center no-repeat;
    width: 100%;
    position: relative;
    padding: 200px 0;
    background-size: cover;
    margin-top: 120px;
}

.bg-heart {
    padding: 80px 0;
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    background-size: cover;
}

.bg-heart p {
    margin: 40px;
    font-size: 20px;
    font-weight: 300;
   
}

.text-highlight {
    font-size: 38px;
    line-height: 42px;
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
}
    .text-highlight span { opacity: .5; font-size: 30px; display: block; }


.bg-heart img {
    height: 35vh;
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bg-spirit {
    padding: 80px 0;
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    background-size: cover;
}

.bg-spirit p {
    font-size: 18px;
    padding: 10px;
}

.bg-spirit img {
    margin: auto;
    max-width: 100%;
    top: 30px;
    right: 15px;
    position: relative;
}

.left {
    padding: 30px 0;
}

.right {
    padding: 150px 0;
}

h5 {
    color: gray;
    font-size: 38px;
    margin: 30px 0;
}


.box-yellow {
    border: 2px solid #8a8c90;
    border-radius: 10px;
    background: #fed26c;
    text-align: center;
    padding: 30px;
    margin: 30px 0;
}

.bg-spirit p strong {
    border-bottom: 1px solid;
}