@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

p {
    font-size: 18px;
    color: #828793;
    margin-bottom: 30px;
    line-height: 26px;
}

p a { color: #828793; text-decoration: underline; }
p a:hover { color: #828793; }

body, input, submit { font-family: 'Open Sans', sans-serif; }

.container { max-width: 1440px; }

h1 {
    font-size: 56px;
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    text-transform: uppercase;
}
    .subtitle {
        font-size: 46px;
        line-height: 50px;
        color: #fff;
        font-family: 'Vidaloka', sans-serif;
        text-transform: uppercase;
    }

h2 {
    font-size: 48px;
    line-height: 48px;
    color: #b0604f;
    font-family: 'Vidaloka', sans-serif;
}
    
h3 {
    font-family: 'Vidaloka', sans-serif;
    font-size: 39px;
    color: #52545a;
    border-bottom: 2px solid #828693;
    padding-bottom: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bm-burger-button { display: none; }

@media (max-width: 1600px) {
    header li a { font-size: 16px !important; }
    header li::before { top: 4px !important; }

    .img-psicodelic { width: 300px !important; }
}   

@media (max-width: 1200px) {
    .img-psicodelic { display: none; }
}

@media (max-width: 960px) {
    .bm-burger-button { display: block; }

    h1 {
        font-size: 36px !important; 
    }

    h2 { 
        font-size: 30px !important; 
        line-height: 34px !important;
        padding: 0 !important;
        padding-bottom: 15px !important;
    }

    h3 {
        font-size: 28px !important;
    }

    h4 {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 26px !important;
    }

    header { 
        padding: 28px 0 !important; 
        height: auto !important; 
    }
    header img { max-width: 80%; }

    .bg-sobre,
    .hip-blue,
    .bg-brain,
    .bg-beach,
    .bg-blog,
    .bg-contato-holder { 
        margin-top: 100px !important; 
        padding: 30px 0 !important;
    }

    .bg-certificados,
    .hip-rock,
    .hip-yellow,
    .hip-white,
    .bg-strong,
    .color-brain,
    .bg-light,
    .bg-body,
    .bg-heart,
    .bg-spirit,
    .felicidade,
    .bg-projetar {
        padding: 30px 0 !important;
    }

    .bg-egito { 
        height: 300px !important; 
        margin-top: 90px !important;
    }

    .bg-missao {
        margin: 0 !important;
        padding: 0 !important;
    }

    .bg-contato, .bg-contato-holder {
        padding: 30px !important;
        text-align: center !important;
    }

    .img-left { width: 100% !important; }
    .img-right { width: 100% !important; }

    form .button-default {
        margin-bottom: 60px;
    }

    .text-red i br { display: none; }

    .before-red-box { margin-bottom: 30px !important; }

    .bg-eye span {
        font-size: 22px !important;
        line-height: 40px !important;
    }

    .subtitle {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    .manyfaces img { display: none; }

    .text-highlight {
        font-size: 22px !important;
        line-height: 34px !important;
    }
    .text-highlight span { font-size: 20px !important; }

    .bg-body h5 {
        text-align: left !important;
        margin: 0 0 30px !important;
        font-size: 34px !important;
    }

    .bg-body ul li {
        font-size: 16px !important;
        margin-bottom: 10px;
    }

    .bg-heart img {
        position: relative !important;
        left: 0 !important;
    }

    .left, .right { padding: 0 !important; }

    .bg-spirit img {
        top: 0 !important;
        right: 0 !important;
        margin-bottom: 30px !important;
    }

    p.end { text-align: left !important; }
    .grid-col-2, .grid-col-1 { padding: 0 !important; }

    .border-box { font-size: 16px !important; }

    .blog-title {
        font-size: 22px !important;
        line-height: 28px !important;
    }

    .blog-info {
        color: gray;
        font-size: 14px !important;
        display: inline-block !important;
        float: left;
        margin-left: 0 !important;
        margin-bottom: 20px;
        margin-right: 20px !important;
        text-align: left !important;
    }

    .list-fadiga { left: 0 !important; }

    .bg-chakra .depoimento {
        font-size: 24px !important;
        line-height: 32px !important;
        text-align: center !important;
    }

    .bg-kundalini .img-kundalini-1 {
        right: 0 !important;
        top: -45px !important;
        position: absolute !important;
        width: 250px !important;
    }
    .bg-kundalini .img-kundalini-2 { display: none; }

    .bg-snake .img-snake-1 {
        right: 0 !important;
        bottom: -95px !important;
        position: absolute !important;
        width: 105px !important;
    }

    .bg-snake .img-snake-2 { display: none; }

    .hip-blue {
        background-position: center no-repeat;
    }

    .img-left, .img-right {
        width: 65% !important;
        display: block !important;
        float: none !important;
        margin: 0 auto 30px !important;
    }
}