.bg-naja {
    background: url('../assets/bg-naja.jpg') center center no-repeat;
    height: 77vh;
    background-size: cover;
}

.bg-chakra {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    padding: 80px 0;
    background-size: cover;
}

.bg-chakra .depoimento {
    font-size: 34px;
    line-height: 44px;
    color: #b0604f;
    background: none;
    text-align: right;
    padding: 0;
}

.bg-chakra .author { color: #adb0b7; opacity: 1; font-size: 24px; font-style: italic; }

.bg-chakra h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: Open;
    padding: 105px;
    text-align: right;
}

.bg-chakra h2 p {
    color: gray;
    text-align: right;
    line-height: 40px;
}

.bg-kundalini {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    padding: 80px 0;
    background-size: cover;
    position: relative;
}

.bg-kundalini h3 {
    font-size: 70px;
    color: gray;
    border: none;
}

.bg-kundalini p {
    font-size: 18px;
}

.bg-kundalini .img-kundalini-1 {
    right: 0;
    top: -25px;
    position: absolute;
    width: 450px;
}

.bg-kundalini .img-kundalini-2 {
    left: 0;
    bottom: 30px;
    position: absolute;
    width: 250px;
}

.bg-snake {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    position: relative;
    padding: 80px 0;
    background-size: cover;
}

.bg-snake h3 {
    font-size: 40px;
    line-height: 44px;
    color: gray;
    padding: 0 0 30px;
}

.bg-snake p {
    font-size: 18px;
}

.bg-snake .img-snake-2 {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 350px;
}

.bg-snake .img-snake-1 {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 200px;
}

.bg-vitroviano {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    position: relative;
    padding: 80px 0;
    background-size: cover;
}

img.colored-kundalini {
    right: 100px;
    top: 30px;
    position: absolute;
    width: 220px;
}

.vitroviano-box {
    background: #dbbb6f;
    padding: 30px;
}

.vitroviano-box p {
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    margin: 0;
}

.bg-psicodelic {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    max-width: 100%;
    position: relative;
    padding: 80px 0;
    background-size: cover;
}

.img-psicodelic {
    left: 0;
    bottom: 130px;
    position: absolute;
    width: 400px;
}

.bg-psicodelic p {
    font-size: 18px;
}

.bg-psicodelic h6 {
    font-size: 40px;
    color: #fff;
    padding: 145px 90px;
    position: absolute;
    font-family: Open;

}

.psicodelic-box{
    border: 1px solid ;
    border-radius: 10px;
    background: #fed26c;
    padding: 10px;
    text-align: center;
}

.bg-black {
    background: #262c2b;
    text-align: center;
    padding: 40px 0;
}

.bg-black p {
    padding-top: 10px;
    color: #fff;
}

.bg-homem {
    background: url('../assets/vitroviano.jpg') center center no-repeat;
    padding: 80px 0;
    background-size: cover;
}

.text-highlight {
    font-size: 46px;
    line-height: 42px;
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
}