.bg-egito {
    background: url('../assets/bg-egito.jpg') center top no-repeat;
    height: 600px;
    background-size: cover;
    margin-top: 120px;
}

.felicidade {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    padding: 80px 0;
    background-size: cover;
}

.felicidade h2 {
    line-height: 60px;
    padding: 45px 0;
}

span.color-blue {
    color: #5972c3;
}

p.end {
    text-align: end;
    font-weight: 350;
    
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 0 90px;
}

.grid-col-2 div {
    text-align: center;
    background: #efcbb7;
    color: transparent;
    font-size: 22px;
    color: #b0604f;
    font-family: 'Vidaloka', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}

.grid-col-2 p { margin: 0; }

.grid-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
    margin-top: 5px;
    padding: 0 90px;
}
.grid-col-1 p { margin: 0; }

.grid-col-1 div {
    text-align: center;
    background: #efcbb7;
    color: transparent;
    font-size: 22px;
    color: #b0604f;
    font-family: 'Vidaloka', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}

.grid-col-1 p {color:#b0604f;}

.grid-col-2 p {color:#b0604f;}



.ir-alem {
    background: url('../assets/bg-hip-2.jpg') no-repeat;
    width: 100%;
    padding: 80px 0;
    background-size: cover;
}

.ir-alem p.left,p.right {
    font-size: 19px;
    padding: 15px;

}

.bg-andressa {
    position: relative;
    height: 77vh;
    padding: 100px;
    align-items: center;
}

.bg-andressa img {
    width: 110%;
    position: relative;
    left:-50px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bg-andressa p {
    font-size: 25px;
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    color:#b0604f;
    background: transparent;
    padding: 10px;
    margin: 15px;
    text-align: center;

}

.bg-projetar { padding: 60px 0; }

.border-box {
    border: 2px solid #b0604f;
    color: #b0604f;
    padding: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Vidaloka', sans-serif;
    text-align: center;
}

.felicidade .col-md-6 {
    text-align: right;
}




