header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 30px 50px;
    box-shadow: 0 4px 20px 20px rgba(0,0,0,.2);
    height: 130px;
}

header .col-md-3 img { max-width: 100%; }

header ul {
    position: relative;
    text-align: right;
    margin-top: 15px;
  }  
  
  header li { 
    display: inline-block; 
    margin-right: 20px;
    position: relative;
  }
    header li:first-child::before { display: none; }

    header li::before {
      content: '•';
      font-size: 10px;
      color: #838793;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 400;
      position: absolute;
      left: -15px;
      top: 10px;
    }
    header li a {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 2px;
      text-decoration: none;
      color: #838793;
      font-family: 'Playfair Display', sans-serif;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
    }

    header li a:hover, header li a.active {
      color: #dbbb6f;
      text-decoration: none;
    }

    header li:hover .list-dropdown { display: block; }


.logo img {
  padding: 50px 30px;
  position: relative;
  margin-top: -100px;
  background: #ffffff;
}

.list-dropdown {
  position: absolute;
  top: 100%;
  left: -45px;
  right: 0;
  margin: auto;
  background: #fff;
  padding: 10px;
  width: 220px;
  text-align: center;
  display: none;
}
  .list-dropdown li {
    display: block;
    border-bottom: 1px solid #000;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .list-dropdown li::before { display: none; }
  .list-dropdown li:last-child { margin-bottom: 0; padding-bottom: 0; border: none; }
  .list-dropdown li a {
    font-size: 12px;
  }