header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 50px 50px 30px;;
    box-shadow: 0 4px 20px 20px rgba(0,0,0,.2);
    height: 130px;
}

header ul {
    position: relative;
    background: #ffffff;
    text-align: right;
    margin-top: 15px;
  }  
  
  header li { 
    display: inline-block; 
    margin-right: 25px;
    position: relative;
  }
    header li:first-child::before { display: none; }

    header li::before {
      content: '•';
      font-size: 10px;
      color: #838793;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 400;
      position: absolute;
      left: -15px;
      top: 10px;
    }
    header li a {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2px;
      text-decoration: none;
      color: #838793;
      font-family: 'Playfair Display', sans-serif;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
    }

    header li a:hover, header li a.active {
      color: #dbbb6f;
      text-decoration: none;
    }


.logo img {
  padding: 50px 30px;
  position: relative;
  margin-top: -100px;
  background: #ffffff;
}