.bg-sobre {
  margin-top: 100px;
  background:#faebd7;
  padding: 50px 0;
} 

h2 {
  font-size: 45px;
  color: #E74C3C;
  padding: 25px 0;
}

h2.special {
  border: 1px solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-color: gray;
  margin-bottom: 25px;
}

.text-icon {
  padding: 100px;
  font-size: 17px;
  color: gray;

}


.red-box {
  background: #E74C3C;
  color:#ffffff;
  padding: 0 25px ;
}

.red-box a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  
}

.bg-certificados {
  background: #fff7f0;
  text-align: center;
  margin: 35px 0 80px;
  padding: 50px 0;

}

.bg-gray {
  background: #535658;
  text-align: center;
  color: #ffffff;
  line-height: 5px;
  padding: 50px 0 25px;
  font-size: 20px;
  font-weight: 300;
  margin-top: -100px;
}