@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}

html, body, #root {
    height: 100%;
    width: 100%;
    
}

P {color: gray;}

h1,h2,h3,h4,h5,h6 {font-family: Open;}


.container { max-width: 1440px; }

